
.char{
    width: auto;
    height: auto;
}

.aboutpage-outer-wrapper{
    display: inline-flex;
    grid-column: 1/4;
    height: 100dvh;
    width: 100%;
}

.about-page_wrapper{
    grid-column: 1/4;
    grid-row: auto;
    margin: 0;
    height: 100dvh;
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background: transparent;
  }

h1{
    font-family: Helvetica;
    font-size: clamp(1.2rem, 3vw, 5rem);
    font-weight: 900;
    color: rgb(30, 84, 156);
}

.par {
    font-family: Helvetica;
    font-size: clamp(0.9rem, 3vw, 5rem);
    font-weight: 900;
    line-height: clamp(1, 1.5vw, 2);
    text-align: left;
    width: 100%;
}

.download-button{
    border-style: none;
    z-index: 30;
    margin-right: 20rem;

}

.resume{
    display: block;
    /* background-image: url('public/gradient/26.png');
    background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  width: 200px;
  padding-left: 2rem;
}

.resume:hover{
    color:  rgb(249, 252, 254);
    -webkit-text-stroke: 2px  rgb(30, 84, 156);
    font-size: clamp(1.6rem, 2.6vw, 4.1rem);
    transition: 0.5s ease-in-out;
    scale: 1.1;
}

.download-button a {
    display: inline-block;
    font-family: Helvetica;
    color:  rgb(30, 84, 156);
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    font-weight: 900;
    line-height: 4vw;
    text-decoration: none;
    padding-top: 3rem;
    position: fixed;

}

.sec1{
    height: 100dvh;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding-bottom: 5rem;
    display: inline-flex;
    grid-column: 2/6;
    justify-content: space-between;
    padding-right: 30rem;
}

.sec1 > p {
    font-family: Helvetica;
    font-size: clamp(1.8rem, 2.5vw, 6rem);
    font-weight: 600;
    line-height: 4vw;
    text-align: left;
    width: 650px;
    padding-left: 10rem;
}


.sec2{
    grid-column: 1/-1;
    grid-template-columns: 20% 30% 30% 20%;
    height: 100dvh;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6rem;
}

.sec2 > p {
    font-family: Helvetica;
    font-size: clamp(1.5rem, 1.8vw, 3rem);
    font-weight: 600;
    line-height: clamp(1, 1.5vw, 2);
    text-align: center;
}

.sec3{
    grid-column: 1/-1;
    grid-template-columns: 20% 30% 30% 20%;
    height: 100dvh;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    display: inline-flex;
    flex-direction: column;
    grid-column: 2/5;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6rem;
}

.sec3 > p {
    font-family: Helvetica;
    font-size: clamp(1.5rem, 1.8vw, 3rem);
    font-weight: 600;
    line-height: clamp(1, 1.5vw, 2);
    text-align: center;
}

.sec4{
    grid-column: 2/5;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    display: inline-flex;
    flex-direction: column;
    padding-top: 6rem;
    align-items: center;
    overflow: hidden;
}
.sec4 > p {
    font-family: Helvetica;
    font-size: clamp(1rem, 2.2vw, 3rem);
    font-weight: 600;
    line-height: clamp(1, 1.5vw, 2);
    text-align: left;
    position: absolute;
}

.hidden{
    display: none;
}

.visible{
    display: block;
    height: 100%;
}

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 12;
}

.cloud-container{
    grid-column: 2/5;
    display: flex;
    z-index: 102;
}

.tagcloud {
    display: inline-block;
    grid-column: 2/5;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: clamp(0.3rem, 1.3vw, 3rem);
    z-index: 12;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: rgb(30, 84, 156);
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #ff6347;
}


@media screen and (max-width: 500px){


    .about-page_wrapper{
        grid-column: 1/span 3;
        grid-row: auto;
        margin: 0;
        height: 100dvh;
        width: 90%;
        display: inline-grid;
        grid-auto-flow: column;
        grid-template-columns: 5% 30% 30% 30% 5%;
        background: transparent;
      }


      .sec1{
        grid-column: 1/ -1;
        height: 100dvh;
        padding: 3rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }

    .sec1 > p {
        font-family: Helvetica;
        font-size: clamp(1.5rem, 3vw, 6rem);
        font-weight: 600;
        text-align: left;
        /* width: 180%; */
        line-height: 7vw;
    }

    .sec2{
        grid-column: 1/-1;
        height: 50dvh;
        justify-self: center;
        align-self: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .sec2 > p {
        font-family: Helvetica;
        font-size: clamp(0.9rem, 1.8vw, 3rem);
        font-weight: 600;
        line-height: clamp(1, 1.5vw, 2);
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sec3{
        grid-column: 1/-1;
        height: 70dvh;
        justify-self: center;
        align-self: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-wrap: wrap;
    }

    .sec3 > p {
        font-family: Helvetica;
        font-size: clamp(1rem, 2.2vw, 3rem);
        font-weight: 600;
        line-height: 5vw;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        text-wrap: wrap;
    }

    .sec4{
        grid-column: 2/5;
        height: 100dvh;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 5rem;
    }

    .sec4 h1{
        grid-column: 2;
    }
    .text-shpere {
        position: relative;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        z-index: 12;
    }

    .cloud-container{
        display: flex;
        z-index: 102;
        grid-column: 2;
    }

    .tagcloud {
        max-width: 300px;
        max-height: 400px;
        display: inline-block;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        letter-spacing: 0.0625em;
        font-size: clamp(0.6rem, 1.5vw, 3rem);
        z-index: 12;
    }
}
