* {
    margin: 0;
    box-sizing: border-box;
    z-index: 5;
}


/* ---------------- Navbar and burger menu ------------------ */
nav {
    width: 100%;
    height: 200px;
    background: transparent;
    display: inline-flex;
    justify-content: space-between;
    grid-column: 1/ span 3;
    z-index: 9;
    position: fixed;
}


ul a {
    width: 100%;
    font-family: Helvetica;
    font-size: clamp(2.5rem, 4vw, 5rem);
    font-weight: 900;
    text-decoration: none;
    list-style: none;
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 2.5px rgb(30, 84, 156);
    z-index: 9;
}

ul a:hover {
    color:rgb(30, 84, 156);
    -webkit-text-stroke: 2.5px rgb(255, 255, 255);
    font-size: 70px;
    transition: 0.5s ease-in-out;
}

.links {
    height: 60%;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    row-gap: 4px;
    cursor: pointer;
    list-style-type: none;
    z-index: 9;
}

.burger-menu {
    height: 50%;
    width: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 1px;
    cursor: pointer;
    padding-top: 70px;
    padding-inline-end: 150px;
    z-index: 8;
}

.burger-bar {
    width: 4vw;
    height: 0.4vw;
    background-color: rgb(30, 84, 156);
    border-radius: 0.5em;
    transition: 3s;
}

.burger-bar:hover{
    background-color:rgb(204, 57, 204);
}

.homeButton {
    padding: 70px;
    width: auto;
    font-family: Helvetica;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    font-weight: 900;
    text-decoration: none;
    color:  rgb(30, 84, 156);
    z-index: 8;
    height: 50%;
}

.homeButton:hover{
    color:  rgb(249, 252, 254);
    -webkit-text-stroke: 2px  rgb(30, 84, 156);
    font-size: clamp(1.6rem, 2.6vw, 4.1rem);
    transition: 0.5s ease-in-out;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgb(193, 205, 229);
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 5;

}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.1em, 1em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.01);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(0.1em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}


@media screen and (max-width: 500px){

    nav{
        width: 100vw;
        height: 100px;
        display: inline-flex;
        justify-content: space-between;
    }

    .homeButton {
        padding: 30px;
        padding-top: 60px;
        width: auto;
        font-family: Helvetica;
        font-size: clamp(1.5rem, 2.5vw, 4rem);
        font-weight: 900;
        text-decoration: none;
        color:  rgb(30, 84, 156);
        z-index: 8;
        height: 50%;
    }


    .burger-menu {
        height: 35%;
        width: 20px;
        display: grid;
        row-gap: 0.1rem;
        cursor: pointer;
        padding-top: 73px;
        z-index: 8;
        align-content: space-evenly;
    }

    .burger-bar {
        width: 6vw;
        height: 1vw;
        background-color: rgb(30, 84, 156);
        border-radius: 0.5em;
        transition: 3s;
    }

    .links {
        height: 50%;
        display: flex;
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        row-gap: 2px;
        cursor: pointer;
        list-style-type: none;
        z-index: 9;
    }

    .burger-bar.clicked:nth-child(1){
        transform: rotate(45deg) translate(4em, -3.5em);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(2){
        transform: scale(0.01);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(3){
        transform: rotate(135deg) translate(-4em, -3.5em);
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
        margin-left: 4rem;
    }

    ul a {
        width: 100%;
        font-family: Helvetica;
        font-size: clamp(2rem, 7vw, 20rem);
        font-weight: 900;
        text-decoration: none;
        list-style: none;
        color:rgb(255, 255, 255);
        -webkit-text-stroke: 1.8px rgb(30, 84, 156);
        z-index: 9;
    }

    .homeButton:hover{
        color:  rgb(249, 252, 254);
        -webkit-text-stroke: 0.7px  rgb(30, 84, 156);
        font-size: clamp(1.6rem, 2.6vw, 4.1rem);
        transition: 0.5s ease-in-out;
        scale: 1.1;
    }

}



.split-page-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; /* Prevents scrollbars from appearing during the animation */
    z-index: 10;
    top: 0;
  left: 0;
  }

  .panel {
    width: 100vw; /* Half the viewport width */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .left-panel {
    background-color: #326bd5;
    height: 50%;
    width: 100vw;
    position: absolute;
    align-self: center;
    bottom: 50%;
    justify-content: flex-start;
  }

  .right-panel {
    background-color: #326bd5;
    height: 50%;
    width: 100vw;
    position: absolute;
    top: 50%;
    align-self: center;

  }
